<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">


    <div class="container" style="text-align:left">
        <h4>{{headline}}</h4>
    </div>

    <div class="container" style="text-align:left">
        <h4>{{pubdate}}</h4>
    </div>


    <div class="container" style="text-align:left">
        {% for item in orig %}
          <p>
            {{item}}
        {% endfor %}
    </div>

  </body>
</html>