<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="container" style="text-align:left">

<p>
In the years between 1986 and 2008, The New York Times editorial board shifted its stance toward government policies targeting crack and powdered cocaine.

<p>
In 1986, the board wrote that "crack magnifies the poison of cocaine into a powerfully addictive substance accessible to all”, noting that while “tough sentences sound good” governments still needed to “do more” to wage an “effective war on crack.”

<p>
Yet over twenty years later, in 2008, the editorial board laid a starkly different stance on crack and power cocaine, noting criminal sentencing "disparities between the sentences imposed for crack cocaine, which is more often used by blacks, and those imposed for the powder form of the drug.” Condemning earlier drug policy, they wrote that  "a dubious anti-drug strategy spawned amid the deadly crack-related urban violence of the 1980s lives on."

<p>
In this task, you will analyze the editorial stance of the New York Times from 1987 to 2007. When and how did the board’s opinion shift? How did the board describe the role of drugs and drug policy in the New York area and in The United States across this time? What rationale might underlie their changes in thinking? 

<p>

    <a class="btn btn-outline-primary" href="http://hobbes.cs.umass.edu:5010/">I'm ready to start</a>

    </div>

  </body>
</html>
